@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --bg-color-dark: #1A1A2E;
  --text-color-dark: #EAEAEA;
  --bg-color-light: #F8F9FA;
  --text-color-light: #212529;
  --bg-color-nav-dark: #191929;
  --bg-color-nav-light: #d5d7da;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  margin: 0;
  background: url(/images/abc.png);
  background-size: contain;
}

footer a {
  color: rgb(157, 166, 247);
}

a {
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 35px;
  text-align: center;
  font-family: "Iansui", cursive;
}

h2 {
  color: #B0B0B0;
  font-size: 32px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}

img {
  height: 500px;
  width: 500px;
  display: flex;
}

nav ul {
  width: 100%;
  justify-content: space-around;
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #E94560;
}

nav {
  background-color: var(--bg-color-nav-dark, --bg-color-nav-light);
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  z-index: 0;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1f1f1f;
  color: white;
}

.img {
  display: flex;
  justify-content: center;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto1 {
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px #00000033;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  text-align: center;
}

.texto2 {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto3 {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.texto2 li {
  flex-grow: 1;
  color: #2C3E50;
}

.botao {
  background-color: #E94560;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  position: relative;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  font-size: 18px;
}

#mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #24243a;
  z-index: 1;
  padding: 10px;
}

.dark-mode nav {
  background-color: var(--bg-color-nav-dark);
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.light-mode nav {
  background-color: var(--bg-color-nav-light);
}

.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

#mode-toggle:hover {
  background-color: #646464;
}

.botao:hover {
  background-color: #FF6B81;
}

nav ul li a:hover {
  border-bottom: 2px solid #ca5364;
}