@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --text-color-dark: #EAEAEA;
  --bg-color-footer-dark: #161b22;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: var(--text-color-dark);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: "Iansui", cursive;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #191929;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

h2 {
  color: #EAEAEA;
  font-size: 32px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #cee6fd;
}

nav {
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  z-index: 1;
}

nav ul {
  width: 100%;
  justify-content: start;
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}

nav ul li a {
  font-weight: bold;
  color: var(--text-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--bg-color-footer-dark);
  color: white;
  margin-top: 120px;
}

footer a {
  color: rgb(0, 160, 253);
}

.cards-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.container img {
  display: flex;
  top: 12px;
  height: 745px;
  object-fit: cover;
  width: 100%;
  filter: opacity(0.7) contrast(1) blur(1px);
  z-index: -2;
}

.card {
  background-color: var(--bg-color-footer-dark);
  color: var(--text-color-dark);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.texto1 {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.texto2 {
  list-style-type: none;
  color: var(--text-color-dark);
}

.gato {
  height: 100%;
  width: 100%;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.botao {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2d3d55;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 45px;
}

#historia {
  margin-top: 300px;
  margin-bottom: 300px;
}

nav ul li a:hover {
  opacity: 0.7;
}

.botao:hover {
  background-color: #273650;
}